<div id="content-header">
<%= image_tag("/images/admission/admission_page_logo.jpg") %>
  <h1><%= "Education" %></h1>
  <h3><%= "Details" %></h3>
  <div id="app-back-button">
      <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% form_for :student, :url => {:action => 'education'}, :id => @student.id, :html => {:multipart => true} do |s| %>
    <%= error_messages_for 'student' %>
    <div id="admission1-form">
      <div id="necessary-field-notification"><%= t('legend1') %><span class="necessary-field">*</span> <%= t('legend2') %></div>

      <div id="autofill_area">

        <div class="label-field-pair-edit">
          <label for="master_student_admission_no"><%= t('admission_no') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"><%= s.text_field :admission_no %></div>
        </div>


        <div class="extender"></div>

      </div>

      <span class="span-sub-heading"><%= "Education Details" %></span>

      <hr class="sub-heading"></hr>
      <div class="label-field-pair">
        <label for="master_student_first_name"><%= "10th" %><span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= s.text_field :tenth %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="master_student_first_name"><%= "Passing Year" %></label>
        <div class="text-input-bg"><%= s.text_field :year %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="master_student_first_name"><%= "Percentage" %></label>
        <div class="text-input-bg"><%= s.text_field :percent10 %></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="master_student_first_name"><%= "12th" %><span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= s.text_field :twleth %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="master_student_first_name"><%= "Passing Year" %></label>
        <div class="text-input-bg"><%= s.text_field :year12 %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="master_student_first_name"><%= "Percentage" %></label>
        <div class="text-input-bg"><%= s.text_field :percent12 %></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="master_student_first_name"><%= "College Name" %><span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= s.text_field :college_name %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="master_student_first_name"><%= "Degree" %></label>
        <div class="text-input-bg"><%= s.text_field :degree %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="master_student_first_name"><%= "Stream" %></label>
        <div class="text-input-bg"><%= s.text_field :subject %></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="master_student_first_name"><%= "Passing Year" %></label>
        <div class="text-input-bg"><%= s.text_field :yeard %></div>
      </div>

      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="master_student_first_name"><%= "Overall Percentage" %></label>
        <div class="text-input-bg"><%= s.text_field :overall %></div>
      </div>
      <div class="extender"></div>
    </div>
    <%= submit_tag "", :class => "submit_button", :value => "Save And Proceed" %>
  <% end %>
</div>