<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1><%= t('exams_text') %></h1>
  <h3><%= t('home') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% if @current_user.student? %>
    <div class="box">
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('online_exam')}" ,:controller=>'answers' , :action=>'index' %></div>
        <div class="link-descr"><%= t('manage_grade_rank_designation') %></div>
      </div>
    </div>
  <% end %>
  <% if (@current_user.admin? or @current_user.privileges.collect(&:name).include?('ExaminationControl')) %>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('exam_management')}" ,:action=>'create_exam' %>  </div>
      <div class="link-descr"><%= t('create_a_new_exam_and_enter_result') %></div>
    </div>
  <% end %>
  <% if (@current_user.admin? or @current_user.privileges.collect(&:name).include?('ExaminationControl')) %>
    <div class="link-box">
      <div class="link-heading"><%= link_to "Create Modules" , :controller=> "exam",:action=>'modules' %></div>
      <div class="link-descr"><%= 'Create modules for exams' %></div>
    </div>
  <% end %>
  <div class="link-box">
    <div class="link-heading"><%= link_to "#{t('report_center')}" , :controller=> "exam",:action=>'report_center' %></div>
    <div class="link-descr"><%= t('view_student_report') %></div>
  </div>


    <!--online exam-->

    <% FedenaPlugin::ADDITIONAL_LINKS[:online_exam_index_link].each do |mod| %>
      <%  if permitted_to? "#{mod[:destination][:action]}".to_sym,"#{mod[:destination][:controller]}".to_sym %>
        <div class="link-box">
          <div class="link-heading"><%= link_to "#{t("#{mod[:title]}")}",mod[:destination] %></div>
          <div class="link-descr"><%= "#{t("#{mod[:description]}")}" %></div>
        <% end %>
      <% end %>
    </div>

    <div class="extender"></div>
  </div>
</div>

